node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit

# Vite (Svelte) build folder
pb_public

# PocketBase
build/pocketbase*
build/robots.txt
build/LICENSE.md
build/CHANGELOG.md

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
